* {
    box-sizing: border-box;
    text-align: center;
    font-size: 13px;
}

html, body {
    height: 100%;
    margin: 0;
}

input, select {
    appearance: none;
    height: 100%;
    width: 100%;
    border: none;
    outline: 1px solid transparent;

    &:focus {
        outline: 1px solid #3b82f6;
    }
}

textarea {
    appearance: none;
    height: 100%;
    width: 100% !important;
    border: none;
    outline: 1px solid transparent;
    padding: 6px;
    line-height: 1.5;
    font-size: 13px;
    overflow: visible;
    border: none;
    resize: none;
    text-align: left;

    &:focus {
        outline: 1px solid #3b82f6;
    }
}

hr {
    border: none;
    border-bottom: 1px solid #e4e8ef;
}


.nav {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    list-style: none;
    height: 56px;
    width: 100%;
    background: white;
    margin: 0;
    padding: 12px;
    border-bottom: 1px solid #e4e8ef;
    z-index: 100;
}

.nav-heading:hover {
    cursor: pointer;
}

.nav-heading > * {
    font-size: 16px;
    font-weight: 700;
    color: #687489;
    height: 100%;
    padding: 0 16px;
}

.nav-item > * {
    height: 100%;
    padding: 0 16px;
    font-size: 16px;
}

.nav-space {
    flex: 1 1 auto;
}

.nav-divider {
    margin: 0 8px;
    border-left: 1px solid #e4e8ef; 
}

.container {
    display: flex;
    height: max(100%, 628px);
    padding: 8px;
    padding-top: 64px;
}

.col {
    display: flex;
    flex-direction: column;
    margin: 8px;
    height: calc(100% - 16px);
}

.row {
    display: flex;
    flex-direction: row;
    margin: 8px;
    width: calc(100% - 16px);
}

.space-x > * {
    &:not(:first-child) {
        margin-left: 16px;
    }
}

.space-y-sm > * {
    &:not(:first-child) {
        margin-top: 12px;
    }
}

.space-y > * {
    &:not(:first-child) {
        margin-top: 16px;
    }
}

.space-y-lg > * {
    &:not(:first-child) {
        margin-top: 18px;
    }
}

.scroll {
    overflow: overlay;
    scrollbar-gutter: stable;
    width: calc(100% + 6px);

    &::-webkit-scrollbar {
        height: 6px;
        width: 6px;
    }
    &:hover::-webkit-scrollbar {
        background: #dedede;
    }
    &:hover::-webkit-scrollbar-thumb {
        background: #b2b2b2;
    }
}

.title {
    flex-direction: row;
    align-content: center;
    height: 32px;
}

.table-title {
    position: relative;
    padding: 4px;
    border: 1px solid #e4e8ef;
    border-bottom: 0;
}

.table {
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #e4e8ef;
    width: 100%;
}

.table td {
    border: 1px solid #e4e8ef;
}

.table td {
    height: 32px;
    padding: 0;
}

.table-heading td {
    height: 24px;
    font-size: 12px;
    background: #e4e8ef;
    cursor: pointer;
}

.border {
    border: 1px solid #e4e8ef;
}

.selected {
    position: relative;
}

.selected td:first-child::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 4px;
    background: #4CAF50;
    content: "";
}

.selected-red {
    position: relative;
}

.selected-red td:first-child::before {
    position: absolute;
    top: 0;
    left: 0;
    height: 32px;
    width: 4px;
    background: #c85353;
    content: "";
}

.board {
    padding: 12px;
    height: 374px;
    border: 1px solid #e4e8ef;
    display: flex;
    flex-direction: column
}

.board * {
    text-align: left;
}

.board-heading {
    font-size: 18px;
    flex-shrink: 0;
}

.board-abstract {
    font-size: 12px;
    padding: 6px 0 12px 0;
    border-bottom: 1px solid #e4e8ef;
    line-height: 1.5;
    flex-shrink: 0;
}

.board-details {
    flex-grow: 1;
    font-size: 12px;
}

.board-item {
    font-weight: 700;
}

.edit-board {
    margin-top: 12px;
    padding: 6px;
    width: 100%;
    height: calc(100% - 12px);
    line-height: 1.5;
    font-size: 13px;
    overflow: visible;
    border: none;
    resize: none;
}

.table-item {
    &:hover {
        background: #f1f1f1;
        cursor: pointer;
    }
}

.table-item:hover input {
    background: #f1f1f1;
}

.div-space {
    padding: 8px;
}

.toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    padding: 8px 12px;
    border-radius: 4px;
    background: #5a5a5a;
    color: white;
    cursor: pointer;
}

.btn-add {
    position: absolute;
    right: 0;
    top: 0;
    justify-content: center;
    height: 25px;
    width: 24px;
    border: none;
    border-left: 1px solid #e4e8ef;
    background: transparent;

    &:hover {
        background: #e8e9eb;
        outline: 1px solid transparent;
        cursor: pointer;
    }
    &:active {
        outline: 3px solid #7a7f89;
        transition-duration: 0.8s;
    }
}

.btn {
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    border: none;
    background: transparent;

    &:hover {
        background: #e8e9eb;
        outline: 1px solid transparent;
        cursor: pointer;
    }
    &:active {
        outline: 3px solid #7a7f89;
        transition-duration: 0.8s;
    }
}

.dice {
    color: #3b82f6;
    text-decoration-line: underline;
    text-underline-offset: 2px;
    cursor: pointer;
}

.silent-dice {
    text-decoration-line: underline;
    text-underline-offset: 2px;
    cursor: pointer;
}

.active {
    font-weight: 700;
    color: #5681ee;

    &:active {
        outline: 3px solid #5681ee;
        transition-duration: 0.8s;
    }
}

.hidden {
    display: none;
}

#context_menu {
    position: absolute;
    display: none;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
}

#context_menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#context_menu li {
    padding: 8px 15px;
    cursor: pointer;
    text-align: left;

    &:hover{
        background: #f0f0f0;
    }
}

#long_rest_button {
    border: 1px solid #e4e8ef;
}

#scroll_main {
    overflow-y: scroll;
    height: max(100%, 628px);
    scroll-snap-type: y mandatory;

    &::-webkit-scrollbar {
        display: none;
    }
}

#scroll_main .container {
    scroll-snap-align: start;
}

#death_saving tr:first-child input {
    appearance: auto;
    width: auto;
    height: auto;
    cursor: pointer;
    accent-color: #4CAF50;
}

#death_saving tr:last-child input {
    appearance: auto;
    width: auto;
    height: auto;
    cursor: pointer;
    accent-color: #F44336;
}

#spell_slot * {
    height: 24px;
    font-size: 12px;
}

#spell_slot tr:first-child {
    background: #e4e8ef;
}

#roll_box {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 294px;
    padding: 12px;
    border-left: 1px solid #e4e8ef;
    border-top: 1px solid #e4e8ef;
    background: white;
    text-align: left;
}

#roll_board {
    height: 92px;
    margin: 12px 0 12px 0;
    padding: 4px;
    border: 1px solid #e4e8ef;
    text-align: left;
    overflow: auto;
    
    &::-webkit-scrollbar {
        height: 6px;
        width: 6px;
    }
    &:hover::-webkit-scrollbar {
        background: #dedede;
    }
    &:hover::-webkit-scrollbar-thumb {
        background: #b2b2b2;
    }
}

#roll_board * {
    text-align: left;
    overflow: auto;
}

#roll_input {
    height: 32px;
    margin-bottom: 12px;
    border: 1px solid #e4e8ef;
    text-align: left;
}


.w-p5 {width: 5%;}
.w-p10 {width: 10%;}
.w-p15 {width: 15%;}
.w-p20 {width: 20%;}
.w-p25 {width: 25%;}
.w-p30 {width: 30%;}
.w-p35 {width: 35%;}
.w-p40 {width: 40%;}
.w-p50 {width: 50%;}
.w-p60 {width: 60%;}
.w-p65 {width: 65%;}
.w-p70 {width: 70%;}
.w-p80 {width: 80%;}
.w-p100 {width: 100%;}

.primary-color {background: #f1f6fe;}
.secondary-color {background: #f8fafc;}