* {
    box-sizing: border-box;
    text-align: center;
    font-size: 13px;
}

html, body {
    height: 100%;
    margin: 0;
}

input, select {
    appearance: none;
    height: 100%;
    width: 100%;
    border: none;
    outline: 1px solid transparent;

    &:focus {
        outline: 1px solid #3b82f6;
    }
}

textarea {
    appearance: none;
    height: 100%;
    width: 100% !important;
    border: none;
    outline: 1px solid transparent;
    padding: 6px;
    line-height: 1.5;
    font-size: 13px;
    overflow: visible;
    border: none;
    resize: none;
    text-align: left;

    &:focus {
        outline: 1px solid #3b82f6;
    }
}