.w-p5 {width: 5%;}
.w-p10 {width: 10%;}
.w-p15 {width: 15%;}
.w-p20 {width: 20%;}
.w-p25 {width: 25%;}
.w-p30 {width: 30%;}
.w-p35 {width: 35%;}
.w-p40 {width: 40%;}
.w-p50 {width: 50%;}
.w-p60 {width: 60%;}
.w-p80 {width: 80%;}
.w-p100 {width: 100%;}

.bg-gray-50 {background: #f1f6fe;}
.bg-primary-50 {background: #f8fafc;}
.bg-white {background-color: #ffffff;}

