<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>角色卡</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='ui.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='sizes.css') }}">
</head>
<body>
    <menu class="nav">
        <li class="nav-heading">
            <select id="character_selector">
            </select>
        </li>
        <li class="nav-item"><button id="nav_background" class="btn">背景</button></li>
        <li class="nav-item"><button id="nav_features" class="btn">特性</button></li>
        <li class="nav-item"><button id="nav_profile" class="btn">角色面板</button></li>
        <li class="nav-item"><button id="nav_inventory" class="btn">背包</button></li>
        <li class="nav-item"><button id="nav_spellcasting" class="btn">施法</button></li>
        <!-- <li class="nav-item"><button id="nav_maps" class="btn">地图</button></li> -->
        <li class="nav-divider"></li>
        <li class="nav-item"><button id="nav_items" class="btn">物品参照</button></li>
        <li class="nav-item"><button id="nav_spells" class="btn">法术参照</button></li>
        <li class="nav-divider"></li>
        <li class="nav-space"></li>
        <li class="nav-item"><button id="long_rest_button" class="btn">长休息</button></li>
        <li class="nav-divider" style="border: none;"></li>
    </menu>
    
    <div id="background_panel" class="container" style="display: none;">
        <div class="w-p30 col space-y">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="w-p25"><input id="age" placeholder="年龄"></td>
                        <td class="w-p25"><input id="sex_in_background" placeholder="性别"></td>
                        <td class="w-p50"><input id="race_in_background" placeholder="种族"></td>
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <tbody>
                    <tr>
                        <td class="w-p20 primary-color">阵营</td>
                        <td class="w-p30"><input id="alignment_in_background"></td>
                        <td class="primary-color">信仰</td>
                        <td><input id="faith"></td>
                    </tr>
                </tbody>
            </table>
            <table class="table">
                <tbody>
                    <tr>
                        <td class="w-p20 primary-color">发色</td>
                        <td class="w-p30"><input id="hair"></td>
                        <td class="primary-color">身高</td>
                        <td><input id="height"></td>
                    </tr>
                    <tr>
                        <td class="w-p20 primary-color">肤色</td>
                        <td class="w-p30"><input id="skin"></td>
                        <td class="primary-color">体重</td>
                        <td><input id="weight"></td>
                    </tr>
                    <tr>
                        <td class="w-p20 primary-color">瞳色</td>
                        <td class="w-p30"><input id="eyes"></td>
                        <td colspan="2"></td>
                    </tr>
                </tbody>
            </table>
            <div class="border">
                <div class="title primary-color">角色外貌</div>
                <textarea id="appearance" class="scroll" style="height: 128px;"></textarea>
            </div>
        </div>
        <div class="w-p70 col space-y">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="w-p10 primary-color">背景</td>
                        <td class="w-p90"><input id="background_in_background"></td>
                    </tr>
                    <tr>
                        <td class="primary-color">个性 I</td>
                        <td><input id="personality_1"></td>
                    </tr>
                    <tr>
                        <td class="primary-color">个性 II</td>
                        <td><input id="personality_2"></td>
                    </tr>
                    <tr>
                        <td class="primary-color">理想</td>
                        <td><input id="ideal"></td>
                    </tr>
                    <tr>
                        <td class="primary-color">牵绊</td>
                        <td><input id="bind"></td>
                    </tr>
                    <tr>
                        <td class="primary-color">缺点</td>
                        <td><input id="flaw"></td>
                    </tr>
                </tbody>
            </table>
            <div class="w-p65 border">
                <div class="title primary-color">背景故事</div>
                <textarea id="backstory" class="scroll" style="height: 128px;"></textarea>
            </div>
        </div>
    </div>
    
    <div id="features_panel" class="container" style="display: none;">
        <div class="w-p60 row space-x">
            <div class="w-p30">
                <div class="table-title primary-color">熟练项<button class="btn-add">+</button></div>
                <table class="table">
                    <tbody>
                        <tr><td></td></tr>
                    </tbody>
                </table>
                <div class="div-space"></div>
                <div class="table-title primary-color">语言<button class="btn-add">+</button></div>
                <table class="table">
                    <tbody>
                        <tr><td></td></tr>
                    </tbody>
                </table>
            </div>
            <div class="w-p70">
                <div class="table-title">特性 / 专长 / 能力<button class="btn-add">+</button></div>
                <table class="table">
                    <tbody>
                        <tr class="table-heading">
                            <td class="w-p60">名称</td>
                            <td class="w-p40">类型</td>
                        </tr>
                        <tr><td></td><td></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="w-p40 col space-y">
            <div id="features_item_board" class="board scroll w-p100">
                <div class="board-heading"></div>
                <div class="board-abstract"></div>
                <div class="board-details"></div>
            </div>
        </div>
    </div>

    <div id="profile_panel" class="container" style="display: none;">
        <div class="w-p15 col"> <!-- 左栏（技能栏） -->
            <div class="scroll">
                <div class="table-title">技能</div>
                <table id="skills" class="table">
                    <tbody>
                        <tr class="table-heading">
                            <td class="w-p20">熟练</td>
                            <td class="w-p20">技能</td>
                            <td class="w-p20">修正</td>
                            <td class="w-p20">总值</td>
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option>X</option>
                                    <option>O</option>
                                    <option>D</option>
                                    <option>H</option>
                                </select>
                            </td>
                            <td class="secondary-color">运动</td>
                            <td>
                                <input/>
                            </td>
                            <td>
                                <button class="btn dice">0</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option>X</option>
                                    <option>O</option>
                                    <option>D</option>
                                    <option>H</option>
                                </select>
                            </td>
                            <td class="primary-color">特技</td>
                            <td>
                                <input/>
                            </td>
                            <td>
                                <button class="btn dice">0</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option>X</option>
                                    <option>O</option>
                                    <option>D</option>
                                    <option>H</option>
                                </select>
                            </td>
                            <td class="primary-color">巧手</td>
                            <td>
                                <input/>
                            </td>
                            <td>
                                <button class="btn dice">0</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option>X</option>
                                    <option>O</option>
                                    <option>D</option>
                                    <option>H</option>
                                </select>
                            </td>
                            <td class="primary-color">隐匿</td>
                            <td>
                                <input/>
                            </td>
                            <td>
                                <button class="btn dice">0</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option>X</option>
                                    <option>O</option>
                                    <option>D</option>
                                    <option>H</option>
                                </select>
                            </td>
                            <td class="secondary-color">调查</td>
                            <td>
                                <input/>
                            </td>
                            <td>
                                <button class="btn dice">0</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option>X</option>
                                    <option>O</option>
                                    <option>D</option>
                                    <option>H</option>
                                </select>
                            </td>
                            <td class="secondary-color">奥秘</td>
                            <td>
                                <input/>
                            </td>
                            <td>
                                <button class="btn dice">0</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option>X</option>
                                    <option>O</option>
                                    <option>D</option>
                                    <option>H</option>
                                </select>
                            </td>
                            <td class="secondary-color">历史</td>
                            <td>
                                <input/>
                            </td>
                            <td>
                                <button class="btn dice">0</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option>X</option>
                                    <option>O</option>
                                    <option>D</option>
                                    <option>H</option>
                                </select>
                            </td>
                            <td class="secondary-color">自然</td>
                            <td>
                                <input/>
                            </td>
                            <td>
                                <button class="btn dice">0</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option>X</option>
                                    <option>O</option>
                                    <option>D</option>
                                    <option>H</option>
                                </select>
                            </td>
                            <td class="secondary-color">宗教</td>
                            <td>
                                <input/>
                            </td>
                            <td>
                                <button class="btn dice">0</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option>X</option>
                                    <option>O</option>
                                    <option>D</option>
                                    <option>H</option>
                                </select>
                            </td>
                            <td class="primary-color">察觉</td>
                            <td>
                                <input/>
                            </td>
                            <td>
                                <button class="btn dice">0</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option>X</option>
                                    <option>O</option>
                                    <option>D</option>
                                    <option>H</option>
                                </select>
                            </td>
                            <td class="primary-color">洞悉</td>
                            <td>
                                <input/>
                            </td>
                            <td>
                                <button class="btn dice">0</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option>X</option>
                                    <option>O</option>
                                    <option>D</option>
                                    <option>H</option>
                                </select>
                            </td>
                            <td class="primary-color">驯兽</td>
                            <td>
                                <input/>
                            </td>
                            <td>
                                <button class="btn dice">0</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option>X</option>
                                    <option>O</option>
                                    <option>D</option>
                                    <option>H</option>
                                </select>
                            </td>
                            <td class="primary-color">医药</td>
                            <td>
                                <input/>
                            </td>
                            <td>
                                <button class="btn dice">0</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option>X</option>
                                    <option>O</option>
                                    <option>D</option>
                                    <option>H</option>
                                </select>
                            </td>
                            <td class="primary-color">求生</td>
                            <td>
                                <input/>
                            </td>
                            <td>
                                <button class="btn dice">0</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option>X</option>
                                    <option>O</option>
                                    <option>D</option>
                                    <option>H</option>
                                </select>
                            </td>
                            <td class="secondary-color">游说</td>
                            <td>
                                <input/>
                            </td>
                            <td>
                                <button class="btn dice">0</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option>X</option>
                                    <option>O</option>
                                    <option>D</option>
                                    <option>H</option>
                                </select>
                            </td>
                            <td class="secondary-color">欺瞒</td>
                            <td>
                                <input/>
                            </td>
                            <td>
                                <button class="btn dice">0</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option>X</option>
                                    <option>O</option>
                                    <option>D</option>
                                    <option>H</option>
                                </select>
                            </td>
                            <td class="secondary-color">威吓</td>
                            <td>
                                <input/>
                            </td>
                            <td>
                                <button class="btn dice">0</button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select>
                                    <option>X</option>
                                    <option>O</option>
                                    <option>D</option>
                                    <option>H</option>
                                </select>
                            </td>
                            <td class="secondary-color">表演</td>
                            <td>
                                <input/>
                            </td>
                            <td>
                                <button class="btn dice">0</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="w-p50 space-y"> <!-- 中栏 -->
            <div class="row space-x"> <!-- 中栏-上栏（概要栏） -->
                <table class="table w-p30">
                    <tbody>
                        <tr>
                            <td colspan="3">
                                <input id="character_name" placeholder="角色名"/>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td><input id="sex_in_profile" placeholder="性别"/></td>
                            <td colspan="2"><input id="race_in_profile" placeholder="种族"/></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table w-p40">
                    <tbody>
                        <tr>
                            <td class="w-p45">
                                <select id="subclass"></select>
                            </td>
                            <td class="w-p40">
                                <select id="class">
                                    <option></option>
                                    <option>野蛮人</option>
                                    <option>吟游诗人</option>
                                    <option>牧师</option>
                                    <option>德鲁伊</option>
                                    <option>战士</option>
                                    <option>武僧</option>
                                    <option>圣武士</option>
                                    <option>游侠</option>
                                    <option>游荡者</option>
                                    <option>术士</option>
                                    <option>契术师</option>
                                    <option>法师</option>
                                </select>
                            </td>
                            <td class="w-p15">
                                <input id="level" placeholder="等级"/>
                            </td>
                        </tr>
                        <tr>
                            <td><input id="alignment_in_profile" placeholder="阵营"/></td>
                            <td colspan="2"><input id="background_in_profile" placeholder="背景"/></td>
                        </tr>
                    </tbody>
                </table>
                <table class="table w-p30">
                    <tbody>
                        <tr>
                            <td class="w-p50">经验值</td>
                            <td>
                                <input id="experience_points"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="w-p50">熟练加值</td>
                            <td id="proficiency_bonus"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row space-x"> <!-- 中栏-次栏（属性栏、战斗信息栏） -->
                <div class="w-p40"> <!-- 中栏-中栏-左栏（属性栏） -->
                    <div class="table-title">属性</div>
                    <table id="abilities" class="table">
                        <tbody>
                            <tr class="table-heading">
                                <td class="w-p20">熟练</td>
                                <td class="w-p20">属性</td>
                                <td class="w-p20">属性值</td>
                                <td class="w-p20">调整值</td>
                                <td class="w-p20">豁免</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="primary-color">力量</td>
                                <td>
                                    <input/>
                                </td>
                                <td>
                                    <button class="btn dice">0</button>
                                </td>
                                <td>
                                    <button class="btn dice">0</button>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="primary-color">敏捷</td>
                                <td>
                                    <input/>
                                </td>
                                <td>
                                    <button class="btn dice">0</button>
                                </td>
                                <td>
                                    <button class="btn dice">0</button>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="primary-color">体质</td>
                                <td>
                                    <input/>
                                </td>
                                <td>
                                    <button class="btn dice">0</button>
                                </td>
                                <td>
                                    <button class="btn dice">0</button>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="primary-color">智力</td>
                                <td>
                                    <input/>
                                </td>
                                <td>
                                    <button class="btn dice">0</button>
                                </td>
                                <td>
                                    <button class="btn dice">0</button>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="primary-color">感知</td>
                                <td>
                                    <input/>
                                </td>
                                <td>
                                    <button class="btn dice">0</button>
                                </td>
                                <td>
                                    <button class="btn dice">0</button>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="primary-color">魅力</td>
                                <td>
                                    <input/>
                                </td>
                                <td>
                                    <button class="btn dice">0</button>
                                </td>
                                <td>
                                    <button class="btn dice">0</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="w-p30 space-y-sm"> <!-- 中栏-中栏-中栏（战斗信息栏） -->
                    <table class="table">
                        <tbody>
                            <tr class="table-heading">
                                <td class="w-p40"></td>
                                <td class="w-p30">加值</td>
                                <td class="w-p30">总值</td>
                            </tr>
                            <tr id="initiative">
                                <td class="primary-color">先攻</td>
                                <td>
                                    <input/>
                                </td>
                                <td>
                                    <button class="btn dice">0</button>
                                </td>
                            </tr>
                            <tr id="armor_class">
                                <td class="primary-color">护甲等级</td>
                                <td>
                                    <input/>
                                </td>
                                <td>
                                    <input/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <tbody>
                            <tr id="speed">
                                <td class="w-p40 primary-color">移动速度</td>
                                <td></td>
                            </tr>
                            <tr id="passive_perception">
                                <td class="w-p60 primary-color">被动察觉</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <tbody id="death_saving">
                            <tr>
                                <td class="w-p40 primary-color" rowspan="2">
                                    <span class="silent-dice">死亡豁免</span>
                                </td>
                                <td class="w-p20">成功</td>
                                <td class="w-p40">
                                    <input type="checkbox"/>
                                    <input type="checkbox"/>
                                    <input type="checkbox"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-p20">失败</td>
                                <td>
                                    <input type="checkbox"/>
                                    <input type="checkbox"/>
                                    <input type="checkbox"/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="w-p30 space-y-sm"> <!-- 中栏-中栏-右栏 -->
                    <table class="table">
                        <tbody>
                            <tr class="table-heading">
                                <td class="w-p40"></td>
                                <td class="w-p30">当前值</td>
                                <td class="w-p30">最大值</td>
                            </tr>
                            <tr id="hit_point">
                                <td class="primary-color">生命值</td>
                                <td>
                                    <input/>
                                </td>
                                <td>
                                    <input/>
                                </td>
                            </tr>
                            <tr id="hit_dice">
                                <td class="primary-color">生命骰</td>
                                <td>
                                    <input/>
                                </td>
                                <td>
                                    <input/>
                                </td>
                            </tr>
                            <tr id="special_value">
                                <td class="primary-color">
                                    <input class="input primary-color" placeholder="特殊能力"/>
                                </td>
                                <td>
                                    <input/>
                                </td>
                                <td>
                                    <input/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <tbody>
                            <tr id="temporary_hit_point">
                                <td class="w-p50 primary-color">临时生命</td>
                                <td>
                                    <input/>
                                </td>
                            </tr>
                            <tr id="hit_dice_value">
                                <td class="primary-color">生命值恢复</td>
                                <td>
                                    <button class="btn dice">0</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table">
                        <tbody>
                            <tr id="inspiration">
                                <td class="w-p50 primary-color">
                                    <span class="silent-dice">激励</span>
                                </td>
                                <td>
                                    <input/>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row"> <!-- 中栏-中栏（状态栏） -->
                <table id="conditions" class="table w-p100">
                    <tbody>
                        <tr>
                            <td class="w-p10 primary-color">状态</td>
                            <td class="w-p40">
                                <input/>
                            </td>
                            <td class="w-p10 primary-color">免疫</td>
                            <td class="w-p40">
                                <input/>
                            </td>
                        </tr>
                        <tr>
                            <td class="primary-color">易伤</td>
                            <td>
                                <input/>
                            </td>
                            <td class="primary-color">抗性</td>
                            <td>
                                <input/>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row"> <!-- 中栏-下栏（武器栏） -->
                <table id="weapons_table" class="table w-p100">
                    <tr class="table-heading">
                        <td class="w-p10">
                            <div class="m-1">武器</div>
                        </td>
                        <td class="w-p20">名称</td>
                        <td class="w-p30">特性</td>
                        <td class="w-p10">攻击属性</td>
                        <td class="w-p10">攻击命中</td>
                        <td class="w-p10">武器伤害</td>
                    </tr>
                    <tr>
                        <td><select></select></td>
                        <td><select></select></td>
                        <td></td>
                        <td><select></select></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><select></select></td>
                        <td><select></select></td>
                        <td></td>
                        <td><select></select></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><select></select></td>
                        <td><select></select></td>
                        <td></td>
                        <td><select></select></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="w-p35 col space-y"> <!-- 右栏（装备栏、护甲栏、快捷施法栏） -->
            <table id="gear_table" class="table"> <!-- 装备栏 -->
                <tr class="table-heading">
                    <td class="w-p15"><div class="m-1">装备</div></td>
                    <td class="w-p35">名称</td>
                    <td class="w-p15">装备</td>
                    <td class="w-p35">名称</td>
                </tr>
                <tr>
                    <td class="primary-color">头部</td>
                    <td>
                        <input/>
                    </td>
                    <td class="primary-color">颈部</td>
                    <td>
                        <input/>
                    </td>
                </tr>
                <tr>
                    <td class="primary-color">胸部</td>
                    <td>
                        <input/>
                    </td>
                    <td class="primary-color">肩部</td>
                    <td>
                        <input/>
                    </td>
                </tr>
                <tr>
                    <td class="primary-color">腰部</td>
                    <td>
                        <input/>
                    </td>
                    <td class="primary-color">背部</td>
                    <td>
                        <input/>
                    </td>
                </tr>
                <tr>
                    <td class="primary-color">手部</td>
                    <td>
                        <input/>
                    </td>
                    <td class="primary-color">腕部</td>
                    <td>
                        <input/>
                    </td>
                </tr>
                <tr>
                    <td class="primary-color">腿部</td>
                    <td>
                        <input/>
                    </td>
                    <td class="primary-color">脚部</td>
                    <td>
                        <input/>
                    </td>
                </tr>
            </table>
            <table id="armor_table" class="table"> <!-- 护甲栏 -->
                <tr>
                    <td class="w-p15"></td>
                    <td class="w-p35"></td>
                    <td class="w-p15 primary-color">盾牌</td>
                    <td class="w-p35"></td>
                </tr>
            </table>
            <table id="quick_spellcasting_table" class="table"> <!-- 快捷施法栏 -->
                <tbody>
                    <tr class="table-heading">
                        <td class="w-p10">环阶</td>
                        <td class="w-p35">法术名称</td>
                        <td class="w-p15">法术伤害</td>
                        <td class="w-p20">法术命中</td>
                        <td class="w-p20">伤害骰</td>
                    </tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                </tbody>
            </table>
            <table id="coins_in_profile" class="table w-p35"> <!-- 货币 -->
                <tbody>
                    <tr>
                        <td class="w-p30 primary-color">金币</td>
                        <td>
                            <input/>
                        </td>
                    </tr>
                    <tr>
                        <td class="primary-color">银币</td>
                        <td><input/></td>
                    </tr>
                    <tr>
                        <td class="primary-color">铜币</td>
                        <td><input/></td>
                    </tr>
                </tbody>
            </table>
            <table class="table w-p35"> <!-- 负重 -->
                <tbody>
                    <tr>
                        <td class="w-p30 primary-color">负重</td>
                        <td id="current_weight_in_profile"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="inventory_panel" class="container" style="display: none;">
        <div class="w-p60 col scroll">
            <div class="table-title">背包<button class="btn-add">+</button></div>
            <table id="backpack_table" class="table">
                <tbody>
                    <tr class="table-heading">
                        <td class="w-p20">名称</td>
                        <td class="w-p25">类型</td>
                        <td class="w-p25">特性</td>
                        <td class="w-p15">价值</td>
                        <td class="w-p10">重量/磅</td>
                        <td class="w-p5">数量</td>
                    </tr>
                </tbody>
            </table>

            <div class="div-space"></div>

            <div class="table-title">仓库</div>
            <table id="storage_table" class="table">
                <tbody>
                    <tr class="table-heading">
                        <td class="w-p20">名称</td>
                        <td class="w-p25">类型</td>
                        <td class="w-p25">特性</td>
                        <td class="w-p15">价值</td>
                        <td class="w-p10">重量/磅</td>
                        <td class="w-p5">数量</td>
                    </tr>
                    <tr>
                        <td colspan="6"><button class="btn">添加</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="w-p40 col space-y">
            <div id="inventory_board" class="board scroll w-p100">
                <div class="board-heading"></div>
                <div class="board-abstract"></div>
                <div class="board-details"></div>
            </div>
            <table id="coins_in_inventory" class="table w-p35">
                    <tr>
                        <td class="w-p30 primary-color">金币</td>
                        <td>
                            <input/>
                        </td>
                    </tr>
                    <tr>
                        <td class="primary-color">银币</td>
                        <td><input/></td>
                    </tr>
                    <tr>
                        <td class="primary-color">铜币</td>
                        <td><input/></td>
                    </tr>
                </tbody>
            </table>
            <table class="table w-p35">
                <tbody>
                    <tr>
                        <td class="w-p30 primary-color">负重</td>
                        <td id="current_weight_in_inventory"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="spellcasting_panel" class="container" style="display: none;">
        <div class="w-p60 col">
            <table id="spell_slot" class="table">
                <tbody>
                    <tr>
                        <td class="w-p10 primary-color">环阶</td>
                        <td class="w-p10">1</td>
                        <td class="w-p10">2</td>
                        <td class="w-p10">3</td>
                        <td class="w-p10">4</td>
                        <td class="w-p10">5</td>
                        <td class="w-p10">6</td>
                        <td class="w-p10">7</td>
                        <td class="w-p10">8</td>
                        <td class="w-p10">9</td>
                    </tr>
                    <tr>
                        <td class="primary-color">法术位</td>
                        <td><button class="btn slot">0 / 0</button></td>
                        <td><button class="btn slot">0 / 0</button></td>
                        <td><button class="btn slot">0 / 0</button></td>
                        <td><button class="btn slot">0 / 0</button></td>
                        <td><button class="btn slot">0 / 0</button></td>
                        <td><button class="btn slot">0 / 0</button></td>
                        <td><button class="btn slot">0 / 0</button></td>
                        <td><button class="btn slot">0 / 0</button></td>
                        <td><button class="btn slot">0 / 0</button></td>
                    </tr>
                </tbody>
            </table>
            
            <div class="div-space"></div>

            <div class="scroll">
                <div class="table-title">施法</div>
                <table id="spellcasting_table" class="table">
                    <tbody>
                        <tr class="table-heading">
                            <td class="w-p25">名称</td>
                            <td class="w-p15">环阶</td>
                            <td class="w-p15">学派</td>
                            <td class="w-p20">施法时间</td>
                            <td class="w-p30">射程</td>
                            <td class="w-p15">来源</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="w-p40 col space-y">
            <div id="spellcasting_board" class="board scroll w-p100">
                <div class="board-heading"></div>
                <div class="board-abstract"></div>
                <div class="board-details"></div>
            </div>
            <table class="table w-p35">
                <tbody>
                    <tr id="spellcasting_ability">
                        <td class="w-p60 primary-color">关键施法属性</td>
                        <td>智力</td>
                    </tr>
                    <tr id="difficulty_class">
                        <td class="w-p60 primary-color">法术豁免等级</td>
                        <td>15</td>
                    </tr>
                    <tr id="attack_bonus">
                        <td class="w-p60 primary-color">法术命中加值</td>
                        <td><button class="btn dice">0</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- <div id="maps_panel" class="container" style="display: none;"></div> -->

    <div id="items_panel" class="container" style="display: none;">
        <div class="w-p60 col scroll">
            <table id="items_table" class="table">
                <tbody>
                    <tr class="table-heading">
                        <td class="w-p25">名称</td>
                        <td class="w-p30">类型</td>
                        <td class="w-p15">价值</td>
                        <td class="w-p15">重量</td>
                        <td class="w-p15">来源</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="w-p40 col space-y">
            <div id="item_board" class="board scroll w-p100">
                <div class="board-heading"></div>
                <div class="board-abstract"></div>
                <div class="board-details"></div>
            </div>
        </div>
    </div>

    <div id="spells_panel" class="container" style="display: none;">
        <div class="w-p60 col scroll">
            <div class="table-title">施法</div>
            <table id="spells_table" class="table">
                <tbody>
                    <tr class="table-heading">
                        <td class="w-p25">名称</td>
                        <td class="w-p15">环阶</td>
                        <td class="w-p15">学派</td>
                        <td class="w-p20">施法时间</td>
                        <td class="w-p30">射程</td>
                        <td class="w-p15">来源</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="w-p40 col space-y">
            <div id="spell_board" class="board scroll w-p100">
                <div class="board-heading"></div>
                <div class="board-abstract"></div>
                <div class="board-details"></div>
            </div>
        </div>
    </div>

    <div id="roll_box"> <!-- 骰盘 -->
        骰盘
        <div id="roll_board" contenteditable="true"></div>
        <input id="roll_input"/>
    </div>

    <script>
        var pc_id = "{{ pc_id }}";
        var actived_panel = "{{ actived_panel }}";
        var saved_data = Object();
        var saved_items = Object();
        var saved_spells = Object();
        var computed_data = Object();
    </script>
    <script src="{{ url_for('static', filename='data.js') }}"></script>
    <script src="{{ url_for('static', filename='functions.js') }}"></script>
    <script src="{{ url_for('static', filename='pl_view.js') }}"></script>
</body>
</html>
